<div id="about-section">
    <div id="content">
        <h1>{{ "aboutMe1" | translate }}<br> {{ "aboutMe2" | translate }}</h1>
        <div id="text1">
            <span>
                {{ "aboutMeText1" | translate }}
            </span>
        </div>
    </div>
    <div id="text">
        <div id="text2">
            <span>
                {{ "aboutMeText2" | translate }}
            </span>
        </div>
        <div id="text3">
            <span>
                {{ "aboutMeText3" | translate }}
            </span>
        </div>
    </div>
</div>