<div id="about-section">
    <div id="content">
        <h1>ABOUT<br> ME</h1>
        <div id="text1">
            <span>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum corrupti maxime voluptatum<br>
                cumque, voluptatibus laboriosam eos animi tempora inventore sunt dolorem deleniti iusto<br>
                exercitationem perspiciatis a obcaecati officiis dolore placeat!
            </span>
        </div>
    </div>
    <div id="text">
        <div id="text2">
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ea nemo nihil ipsam quo<br>
                eum, et voluptatibus quae, rerum, obcaecati commodi saepe quidem adipisci<br>
                omnis amet doloribus! Nesciunt, eaque ab?
            </span>
        </div>
        <div id="text3">
            <span>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt commodi corrupti<br>
                harum,consectetur in necessitatibus ut illo porro suscipit numquam cupiditate pariatur quis officiis
                <br>
                exercitationem voluptas saepe dolores. Nemo, quis.
            </span>
        </div>
    </div>
</div>