<div id="about-section">
    <div id="content">
        <h1>ABOUT<br> ME</h1>
        <div id="text1">
            <span>
                German-speaking Front-End Developer based in Hamburg, Germany. Driven by my affinity for
                innovative solutions and the endless possibilities offered by IT, I craft immersive
                digital experiences that combine creativity with functionality.
            </span>
        </div>
    </div>
    <div id="text">
        <div id="text2">
            <span>
                Flexible in terms of my work environment and ready to adapt my working style to ensure
                efficiency and collaboration, regardless of location. I particularly enjoy working on-site
                to collaborate even more closely with my colleagues. At the same time, I have gained
                experience in remote work and utilized modern tools like Discord, Slack, Trello, and
                Git to support communication and project tracking.
            </span>
        </div>
        <div id="text3">
            <span>
                I am always eager to learn new technologies and approaches, embracing every challenge
                to bring your goals and visions to life. I look forward to collaborating on new projects
                where I can leverage my experience to help create innovative web solutions.
            </span>
        </div>
    </div>
</div>