<div id="skills-section">
    <div id="skillset">
        <div class="skill">
            <p>JavaScript</p>
            <span>
                {{ "javascript1" | translate }}
                {{ "javascript2" | translate }}
                {{ "javascript3" | translate }}
                {{ "javascript4" | translate }}
                {{ "javascript5" | translate }}
            </span>
        </div>
        <div class="skill">
            <p>TypeScript</p>
            <span>
                {{ "typescript1" | translate }}
                {{ "typescript2" | translate }}
                {{ "typescript3" | translate }}
                {{ "typescript4" | translate }}
            </span>
        </div>
        <div class="skill">
            <p>Angular</p>
            <span>
                {{ "angular1" | translate }}
                {{ "angular2" | translate }}
                {{ "angular3" | translate }}
                {{ "angular4" | translate }}
                {{ "angular5" | translate }}
                {{ "angular6" | translate }}
            </span>
        </div>
    </div>
    <div id="skills">
        <h1>SKILLS</h1>
        <span id="skillsText">
            {{ "skillsText1" | translate }}<br>
            <br>
            {{ "skillsText2" | translate }}
        </span>
    </div>
</div>