<div id="skills-section">
    <div id="skillset">
        <div class="skill">
            <p>JavaScript</p>
            <span>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>
                Ullam blanditiis tempora eos ipsam explicabo, dicta aliquid<br>
                facere veniam beatae corporis reiciendis molestias reprehenderit<br>
                et dignissimos doloribus maxime ut alias repellat.
            </span>
        </div>
        <div class="skill">
            <p>TypeScript</p>
            <span>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>
                Ullam blanditiis tempora eos ipsam explicabo, dicta aliquid<br>
                facere veniam beatae corporis reiciendis molestias reprehenderit<br>
                et dignissimos doloribus maxime ut alias repellat.
            </span>
        </div>
        <div class="skill">
            <p>Angular</p>
            <span>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>
                Ullam blanditiis tempora eos ipsam explicabo, dicta aliquid<br>
                facere veniam beatae corporis reiciendis molestias reprehenderit<br>
                et dignissimos doloribus maxime ut alias repellat.
            </span>
        </div>
    </div>
    <div id="skills">
        <h1>SKILLS</h1>
        <span id="skillsText">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem officia officiis
            distinctio illum libero minus recusandae corrupti amet. Est eaque ut quam facere
            sed? Amet tenetur quod magni repellendus! Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Beatae sapiente maiores repellendus enim. Est odio laboriosam aut
            perspiciatis aliquam quam asperiores corrupti, quos, animi iure maxime exercitationem
            et, delectus eos.
        </span>
    </div>
</div>