<div id="skills-section">
    <div id="skillset">
        <div class="skill">
            <p>JavaScript</p>
            <span>
                JavaScript is an essential programming language in<br>
                front-end development that creates interactive and dynamic<br>
                user interfaces for web applications. Additionally, it allows<br>
                the manipulation of HTML and CSS and forms the core of many<br>
                popular frameworks and libraries such as React, Angular, and Vue.js.
            </span>
        </div>
        <div class="skill">
            <p>TypeScript</p>
            <span>
                TypeScript is a programming language based on JavaScript<br>
                that offers static typing to improve code quality and maintainability.<br>
                It allows for early error detection and is commonly used in<br>
                modern frameworks such as Angular and React.
            </span>
        </div>
        <div class="skill">
            <p>Angular</p>
            <span>
                Angular is a widely used framework for developing web applications<br>
                that is based on TypeScript and helps developers create powerful<br>
                and dynamic single-page applications (SPAs). It is characterized by<br>
                a modular architecture and comprehensive tools such as routing,<br>
                which enable efficient development and maintenance of<br>
                complex applications.
            </span>
        </div>
    </div>
    <div id="skills">
        <h1>SKILLS</h1>
        <span id="skillsText">
            In addition, I have extensive knowledge in various other areas, including HTML, CSS (SCSS), and
            interaction with databases in the form of REST APIs and Firebase databases. I am familiar with applying the
            SCRUM methodology for agile project management as well as working with Git. I also have experience working
            with design frameworks such as Material Design and Bootstrap.<br>
            <br>
            If you are looking for additional skills, please feel free to contact me. I look forward to expanding my
            knowledge further.
        </span>
    </div>
</div>