<div id="hero">
    <h1>
        JEREMY SEAN<br>
        ROßBACH
    </h1>
    <img (mouseenter)="laughing()" (mouseleave)="normal()" #me id="me" src="./../../../assets/img/placeholder.png">
    <img id="background" src="./../../../assets/img/background.avif">
    <div id="text">
        <span id="text1">
            Front-End Developer<br>
            {{ "basedIn" | translate }} Hamburg, {{ "germany" | translate }}<br>
            {{ "feelFree" | translate }}
        </span>
        <span id="text2">
            {{ "contactMe" | translate }}<br>
            <div id="links">
                <a class="link" href="https://github.com/JeremyRossbach" target="_blank">GitHub</a>
                <a class="link" href="https://www.linkedin.com/in/jeremy-sean-ro%C3%9Fbach-b77b43315/" target="_blank">LinkedIn</a>
                <a class="link" href="mailto:hello@jeremyseanrossbach.com" target="_blank">E-Mail</a>
            </div>
        </span>
    </div>
</div>