<div #content id="content">
    <a routerLink="/" (click)="goToTop()" (mouseenter)="logoEnter()" (mouseleave)="logoLeave()" #logoContainer
        id="logo">
        <span #logo id="jeremy">Jeremy Sean </span><span #copyright id="copyright">©2024</span>
    </a>
    <div id="menuIconContainer">
        <img (click)="menu()" #menuIcon id="menuIcon" src="./../../../assets/img/menu-black.svg">
    </div>
    <div #menuContainer id="menuContainer">
        <div #menuPoints id="menuPoints">
            <a #aboutMe class="link" href="#about-section">{{ "aboutMe" | translate }}</a>
            <a #skills class="link" href="#skills-section">Skills</a>
            <a #work class="link" href="#work-section">{{ "work" | translate }}</a>
            <a #contact class="link" href="#contact-section">{{ "contact" | translate }}</a>
            <div>
                <div #language class="language">
                    <div class="languageContainer">
                        <span #selectLanguage (click)="languageMenu()" class="selectLanguage">{{ "language" | translate }}</span>
                        <img #arrowdown (click)="languageMenu()" class="arrow"
                            src="./../../../assets/img/arrowdown-black.svg">
                    </div>
                </div>
                <div #languageMenuContainer class="languageMenuContainer link">
                    <span #english (click)="switchLanguage('en')" class="deutsch">English</span>
                    <span #deutsch (click)="switchLanguage('de')" class="deutsch">Deutsch</span>
                </div>
            </div>
        </div>
    </div>
    <div #modeIconContainer id="mode">
        <img (click)="mode()" #modeIcon id="modeIcon" src="./../../../assets/img/darkmode-black.svg">
    </div>
</div>
<div>
    <div #mobileMenu id="mobileMenu">
        <img #closeButton (click)="closeMobileMenu()" id="closeButton" src="./../../../assets/img/close-black.svg">
        <img (click)="mode()" #mobileModeIcon id="modeIcon" src="./../../../assets/img/darkmode-black.svg">
        <a #aboutMe (click)="closeMobileMenu()" class="link" href="#about-section">{{ "aboutMe" | translate }}</a>
        <a #skills (click)="closeMobileMenu()" class="link" href="#skills-section">Skills</a>
        <a #work (click)="closeMobileMenu()" class="link" href="#work-section">{{ "work" | translate }}</a>
        <a #contact (click)="closeMobileMenu()" class="link" href="#contact-section">{{ "contact" | translate }}</a>
        <div>
            <div #mobileLanguage class="language">
                <div class="languageContainer">
                    <span #selectMobileLanguage (click)="languageMobileMenu()" class="selectLanguage">{{ "language" | translate }}</span>
                    <img #mobileArrowdown (click)="languageMobileMenu()" class="arrow"
                        src="./../../../assets/img/arrowdown-black.svg">
                </div>
            </div>
            <div #languageMobileMenuContainer class="languageMenuMobileContainer link">
                <span #mobileEnglish (click)="switchLanguage('en'); closeLanguageMobileMenu()"
                    class="mobileDeutsch">English</span>
                <span #mobileDeutsch (click)="switchLanguage('de'); closeLanguageMobileMenu()"
                    class="mobileDeutsch">Deutsch</span>
            </div>
        </div>
    </div>
</div>