<app-navbar></app-navbar>
<div id="imprint">
    <h1>{{ "imprintH1" | translate }}</h1>
    <div id="text">
        <span>
            Jeremy Sean Ro&szlig;bach<br>
            Bleecken 5<br>
            24640 Schmalfeld
        </span>
        <span class="contact">
            <span id="contact">{{ "contact" | translate }}</span><br>
            <a href="tel:+4917673838473">+49 176 73838473</a>
            <a href="mailto:hello@jeremyseanrossbach.com">hello&#64;jeremyseanrossbach.com</a>
        </span>
    </div>
    <app-footer id="footer"></app-footer>
</div>