<div id="content">
    <div id="dev">
        <span>Designed and developed by Jeremy Sean Roßbach</span>
    </div>
    <div id="nav">
        <a routerLink="/imprint">Imprint</a>
        <div id="links">
            <a class="link" href="https://github.com/JeremyRossbach" target="_blank">GitHub</a>
            <a class="link" href="https://www.linkedin.com/in/jeremy-sean-ro%C3%9Fbach-b77b43315/"
                target="_blank">LinkedIn</a>
            <a class="link" href="mailto:hello@jeremyseanrossbach.com" target="_blank">E-Mail</a>
        </div>
        <div (click)="goToTop()" #arrowup id="arrowup">▲</div>
    </div>
</div>